
* {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
  }
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl, dd, dt {
  margin: 0;
  padding: 0;
}
.container {
    width: 100%;
    height: 1233px;
    background-color: beige;
}
.inner-container {
    width: 60%;
    height: 100%;
    border: solid lightcoral;
    margin: auto;
}
.logo-container {
    display: flex;
    
}
.logo {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
.logo-title {
    width: 396px;
    height: 88px;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 10px;
}
.inner-container2 {
    display: flex;
}
.contact-info {
    width: 480px;
    height: 465px;
    background-color: white;
}