
* {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
  }
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl, dd, dt {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.background-image {
    background-image: url(images/English-Online.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1033px;
    background-color: beige;
}
.container {
    width: 75%;
    height: 100%;
    margin: auto;
}
.logo-container {
    display: flex;
    padding-top: 60px;
    
}
.logo {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}
.logo-title {
    width: 396px;
    height: 88px;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 10px;
}
.section1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 150px
}
.services {
    width: 850px;
}
.services p {
    font-size: 30px;
}
.services h1 {
    margin-bottom: 50px;
    font-size: 40px;
}
.contact-form-div {
    width: 500px;
    height: 465px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;    
}
.contact-form {
    margin-top: 60px;
    justify-content: center;
    
}
.flex-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
}
.flex-column input {
    max-width: 450px;
    width: 100%;
    height: 60px;
    margin: 15px;
    border-radius: 8px;
    border: lightgray solid 1px;

}
.flex-column select {
    max-width: 450px;
    width: 100%;
    height: 60px;
    margin: 15px;
    border: lightgray solid 1px;
    border-radius: 8px;
}
.submit-button {
    width: 150px;
    height: 50px;
    font-size: 22px;
    border: none;
    background-color: #0020C2;
    color: white;
    border-radius: 8px;
}
/*section2*/
.section2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section2 h3 {
    margin-bottom: 100px;
    font-size: 40px;
}
.flex-center {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-box {
   max-width: 600px;
   width: 100%;
   background-color: #F5F5F5;
   border-radius: 19px;
   margin-top: 20px;
}
.info-box h2 {
    font-size: 30px;
    margin: 40px 0 30px 0;
}
.info-box p {
    font-size: 27px;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 10%;
}
.see-more-button {
    border-radius: 8px;
    height: 45px;
    margin-bottom: 20px;
    border: none;
    font-size: 18px;
    background-color:#0020C2;
    color: white;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.full-info {
    text-align: center;
    margin-top: 50px;
    margin-right: 100px;
}