
/*@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-caps/css/bpg-banner-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/arial-geo/css/arial-geo.min.css");*/

* {
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
  }
body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl, dd, dt {
  font-family: "Arial GEO", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body {
    padding-top: 55px;
}
.main-container {
    margin: auto;
    max-width: 1100px;
}

.navigation-header {
  font-family: "BPG Banner", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #198d9a;
  padding: 10px 15px; 
  z-index: 1000; 
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.logo-container {
    display: flex;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 300;
}
.navigation-items {
    display: flex;
    gap: 20px;
}
.navigation-items > a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
    font-size: 24px;

  }
  .navigation-items > a:hover {
    color: white;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }
  .logo-title {
    color: white;
    font-size: 30px;
  }
.background-image {
    background-image: url(images/professionals-in-a-meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;
    background-color: beige;
    position: relative;
}
.container {
    padding-top: 60px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.services, .submit-button {
    text-align: center;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.services p {
    font-size: 18px;
}
.services h1 {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    font-family: "BPG Banner", sans-serif;
}
/*
.contact-form-div {
    width: 350px;
    height: 300px;
    background-color: white;
    text-align: center;
    font-size: 17px;
    border-radius: 25px;    
}
.contact-form {
    margin-top: 35px;
    justify-content: center;
    
}
.flex-column {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
}
.flex-column input {
    max-width: 250px;
    width: 100%;
    height: 40px;
    margin: 15px;
    border-radius: 8px;
    border: lightgray solid 1px;

}
.flex-column select {
    max-width: 250px;
    width: 100%;
    height: 40px;
    margin: 15px;
    border: lightgray solid 1px;
    border-radius: 8px;
}*/
.submit-button {
    width: 200px;
    height: 55px;
    font-size: 14px;
    border: none;
    background-color: #198d9a;
    color: white;
    border-radius: 2px;
    margin-top: 50px;
    cursor: pointer;
    font-family: "BPG Banner", sans-serif;
}
/*section2*/
.section2 {
    text-align: center;
    margin-top: 30px;
}
.section2 h3 {
    font-family: "BPG Banner", sans-serif;
    margin-bottom: 30px;
    font-size: 23px;
    font-weight:400;
}
.info-box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-box {
    padding-left: 30px;
    text-align: left;
   max-width: 500px;
   height: 350px;
   width: 100%;
   background-color: #F5F5F5;
   border-radius: 10px;
   margin: 30px 5px 0 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.info-box h2 {
    font-size: 20px;
    margin: 40px 0 30px 0;
    font-family: "BPG Banner", sans-serif;
}
.info-box p {
    font-size: 17px;
    margin-bottom: 40px;
}
.see-more-button {
    width: 150px;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 20px;
    border: none;
    font-size: 13px;
    background-color:#051650;
    color: white;
    cursor: pointer;
    font-family: "BPG Banner", sans-serif;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.full-info {
    margin-top: 40px;
}
.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3-content {
    max-width: 800px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}
.section3-content h4 {
    margin-bottom: 20px;
    font-weight: 900;
    font-family: "BPG Banner", sans-serif;
}
.footer-container {
    height: 200px;
    width: 100% ;
    background-color: #051650;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.footer-linkedin-icon{
    color: white;
    margin: 0 15px 0 10px;
    font-size: 25px;
}
.footer-fb-icon {
    color: white;
    font-size: 25px;
}
.Why-lingo-section {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: gainsboro;
}
.Why-lingo-section span { 
    font-size: 30px;
}
.flex-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-box {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}
.flex-box p {
    margin-top: 30px;
}
.fa-users, .fa-user-graduate, .fa-chalkboard-teacher{
    font-size: 40px;
}

/* hover*/
.info-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the values as needed */
}
.see-more-button:hover {
    background-color: #063a85;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}
.submit-button:hover {
    background-color: #063a85;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}

@media screen and (max-width:768px) { 
    .hamburger {
        display: flex;
        cursor: pointer;
      }
      .hamburger #closeHam {
        display: none;
      }
    .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: rgb(73, 51, 153);
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
    }
    .section1 {
        justify-content: center;
    }
    .info-box-container {
        display: flex;
        justify-content: center;
    }
    .section3-content {
        max-width: 400px;
        margin: 30px 0 30px 0;
        text-align: center;
    }
}